KIE_API_KEY=
KIE_CREATE_TASK_URL=https://api.kie.ai/api/v1/jobs/createTask
KIE_RECORD_INFO_URL=https://api.kie.ai/api/v1/jobs/recordInfo
KIE_CREDIT_URL=https://api.kie.ai/api/v1/chat/credit
MIN_REQUIRED_CREDITS=800
